<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
   <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header">
      <nav class="main-header_nav">
          <ul class="main-header_itemlist">
              <li class="main-header_item" ><a class="active" href="/">Shop</a></li>
              <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
              <li class="main-header_item" ><a href="/cart">Cart</a></li>
              <li class="main-header_item"><a href="/admin/product-list">Admin Products</a></li>
              <li class="main-header_item"><a href="/products">Products</a></li>
              <li class="main-header_item" ><a href="/orders">Orders</a></li>
          </ul>
      </nav>
  </header> 
      
</head>
<body>
    <h1>Some error occured</h1>
    <p>We are working on this. Sorry for the incovenience</p>
</body>
</html>